<!DOCTYPE html>
<html>
<head>

<title>Detalle incidente</title>

<style>

body{
font-family:Arial;
background:#0f172a;
color:white;
max-width:900px;
margin:auto;
padding:20px;
}

h1{
color:#38bdf8;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-top:20px;
border-left:5px solid #38bdf8;
}

.boton{

background:#38bdf8;
padding:10px;
text-decoration:none;
color:black;
border-radius:5px;
font-weight:bold;
margin-right:10px;

}

.eliminar{

background:#ef4444;
color:white;

}

</style>

</head>

<body>

<h1>🔐 Detalle del incidente</h1>

<div class="card">

<h2>{{ incident.title }}</h2>

<p><strong>Descripción:</strong>
{{ incident.description }}</p>

<p><strong>Severidad:</strong>
{{ incident.severity }}</p>

<p><strong>Reportado:</strong>
{{ incident.reported_at }}</p>

<p><strong>Actualizado:</strong>
{{ incident.updated_at }}</p>

<p><strong>Resuelto:</strong>
{{ incident.resolved }}</p>

</div>

<br>

<a class="boton"
href="{% url 'incidents:update' incident.pk %}">
Editar
</a>

<a class="boton eliminar"
href="{% url 'incidents:delete' incident.pk %}">
Eliminar
</a>

<a class="boton"
href="{% url 'incidents:home' %}">
Volver
</a>

</body>
</html>